asgiref>=3.9.1
asttokens>=3.0.0
attrs>=26.1.0
decorator>=5.2.1
Django>=5.2.6
django-cors-headers>=4.9.0
django-extensions>=4.1
djangorestframework>=3.18.0
djangorestframework_simplejwt>=5.5.1
dnspython>=2.8.0
drf-spectacular>=0.30.0
executing>=2.2.1
inflection>=0.5.1
ipython>=9.5.0
ipython_pygments_lexers>=1.1.1
jedi>=0.19.2
jsonschema>=4.26.0
jsonschema-specifications>=2025.9.1
matplotlib-inline>=0.1.7
packaging>=26.3
parso>=0.8.5
pexpect>=4.9.0
pillow>=11.3.0
prompt_toolkit>=3.0.52
psycopg>=3.2.10
psycopg2-binary>=2.9.12
ptyprocess>=0.7.0
pure_eval>=0.2.3
Pygments>=2.19.2
PyJWT>=2.13.0
pymongo>=4.15.0
python-dotenv>=1.1.1
PyYAML>=6.0.3
referencing>=0.37.0
rpds-py>=2026.6.3
ruff>=0.13.0
setuptools>=80.9.0
shelve_cache>=0.0.4
sqlparse>=0.5.3
stack-data>=0.6.3
traitlets>=5.14.3
typing_extensions>=4.15.0
uritemplate>=4.2.0
wcwidth>=0.2.13
wheel>=0.45.1
requests